
.card-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width:100%;

    background-color: rgb(226, 46, 46);
    border:9px solid red;
    border-style: outset;
    border-radius: 10px;

    font-weight:750;

    font-size: clamp(9px ,3vw, 17px);
}

