.container{
    display: flex;
    flex-wrap: wrap;
}

.title{
    margin-top: 5%;
    
    width: 60%;
    height: 15%;
    
    font-weight: 600;
    font-size:clamp(20px, 2.5vw,40px);
    line-height: 1.2;

    border:3px solid rgb(255, 246, 246);
    background-color: rgb(0, 0, 0);
    border-radius: 8px;

    text-align: start;
    justify-items: center;
    padding-top: 1.5%;   /* ajuste fino aqui */
    padding-left: 8px;
     
    padding-bottom: 5%;

    color:white
}

.form-control,.input-group-text,.form-select{
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid black;
}

.data{
    border-radius:10px;
    border:3px solid black;
    width:30%;
    height:40px;
}

.form-check-input{
    border:2px solid black;
    height: 25px;
    width: 3%;
    margin-right: -1%
    
}

label{
    font-weight: 700;
    font-family: Arial;
}

