*{
    font-family: Arial;
}


.container{
    display: flex;
    flex-direction: row;
    margin-top:2%;

}

.card{
    width: 100%;
    border-radius: 10px;
    border:10px solid black;
    border-style: inset;
    background-color: gray;

}

.nav-item{
   margin-left:0.6%;

   font-weight: bold; 
   border-right:4px solid black;
   border-left:4px solid black;
   border-top:4px solid black;
   
   border-bottom:0px;
   border-radius:10px ;


  
   box-shadow:10px 0px 20px rgba(0, 0, 0, 0.3); ;
}


.nav-item:hover{
    transition:ease-in-out 0.2s ;
    border-bottom:4px solid white;
}

.nav-tabs .nav-link{
  font-size: clamp(12px, 2.5vw, 16px);
  text-align: center;
  white-space: normal;
  line-height: 1.2;
}

.nav-link{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width: 100%;
}

#btn_olho, #btn_sino{
    color: black;
    cursor: pointer;
    
}

.card-body{
    border:10px solid white;
    border-radius:10px;
}

#lista_btn{
   display: flex;
   flex-wrap:wrap;
   gap:8px;
   justify-content: center;
}

[type="button"] {
    border-radius: 8px;
    border: 3px solid black;
    background-color:red;

    font-weight: bold;
    min-width: 60px;
    max-width: 20%;
    flex: 1 1 0;
    
    font-size: clamp(11px, 2.5vw, 14px);
    text-align: center;
    line-height: 1.2;

}

[type="button"]:hover{
    transition:ease-in-out 0.5s;
    background-color: red; 
    border-color: red;
}


#Saldo{
    font-weight: 650;
    color: black;
}