
<div class="container">
  <div class="row g-2">
 
  <div class="title">SOBRE SUA RESIDÊNCIA... </div>
  
  <form class="row g-3 needs-validation" novalidate>
    
    <div class="col 12 col-sm-8 col-md-4 col-lg-2 position-relative">
    <label for="validationTooltip01" class="form-label">CEP </label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Ex: XXXX-XXX" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

  <div class="col 12 col-sm-12 col-md-8 col-lg-4 position-relative">
    <label for="validationTooltip02" class="form-label">Logradouro </label>
    <input type="text" class="form-control" id="validationTooltip02" placeholder="Ex:Avenida Comarca Rédius" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

    <div class="col 12 col-sm-12 col-md-8 col-lg-4  position-relative">
    <label for="validationTooltip02" class="form-label">Bairro </label>
    <input type="text" class="form-control" id="validationTooltip02" placeholder="Ex:Lúcio Veríssimo"required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

    <div class="col 12 col-sm-4 col-md-2 col-lg-1 position-relative">
    <label for="validationTooltip02" class="form-label">N° </label>
    <input type="text" class="form-control" id="validationTooltip02" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div> 


   <div class="col 12 col-sm-12 col-md-6 col-lg-3 position-relative">
    <label for="validationTooltip02" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="validationTooltip02" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div> 
    
   <div class="col 12 col-sm-12 col-md-10 col-lg-8 position-relative">
    <label for="validationTooltip02" class="form-label">Complemento (Opcional)</label>
    <input type="text" class="form-control" id="validationTooltip02" placeholder="Perto da Esquina X; Do lado da Empresa Y" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div> 
    


<div class="col 8 col-sm-12 col-md-6 col-lg-3 position-relative">
    <label for="validationTooltip04" class="form-label">Região</label>
    <select class="form-select" id="validationTooltip04" required>
    <option selected disabled value="">Escolha a seguir</option>
    <option>Sudeste</option>
    <option>Norte</option>
    <option>Sul</option>
    <option>Nordeste</option>
    <option>Centro-Oeste</option>
    </select>
    <div class="invalid-tooltip">
      Please select a valid state.
    </div>
  </div>


   <div class="col 8 col-sm-8 col-md-4 col-lg-2 position-relative">
    <label for="validationTooltip04" class="form-label">Estado (UF)</label>
    <select class="form-select" id="validationTooltip04" required>
      <option selected disabled value="">Escolha a seguir</option>
        <option>AC</option> 
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>DF</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
    
    </select>
    <div class="invalid-tooltip">
      Please select a valid state.
    </div>
  </div>

    <div class="col 12 col-sm-12 col-md-6 col-lg-3 position-relative">
    <label for="validationTooltip02" class="form-label">Cidade em que Nasceu</label>
    <input type="text" class="form-control" id="validationTooltip02"  required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div> 
    
    <div class="col 12 col-sm-12 col-md-6 col-lg-3 position-relative">
    <label for="validationTooltip02" class="form-label">Estado (UF) em que Nasceu</label>
    <input type="text" class="form-control" id="validationTooltip02"  required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div> 
  </form>