
.container4{
    background-color:gray;
    border-top:3px solid rgb(0, 0, 0) ;
    width: 100%;
    margin-top:10%;
    text-align: center;
    font-weight:bold;
      
    font-size: clamp(10px, 2.5vw, 15px);

}