
.container-title{
    font-family: Arial;
    text-align: justify;
    color:white;
    padding:2%;
    
}
.container3{
    display: flex;
    flex-direction: column;
    width:85%;

    border:9px solid black;
    border-radius: 10px;
    border-style:inset;
    
    background-color: gray;

    justify-self: center;
}

#caixa{
    gap:2%;
    padding:2% 2% 2% 10%;
}

h3{
  font-size: 20px; 
  font-weight: 900;
  font-family: Arial;

  
  font-size: clamp(12px, 2.5vw, 20px);
  
}

h4{
    font-size: 15px;
    font-weight: 400;
    font-size: clamp(1px, 2.5vw, 15px);

}

.p-4,.d-grid{
    border:3px solid  black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    width: 45%;
    height:140px;

}
