
<div class="container3 my-4">
  <div class="container-title"><h1>DESTAQUES:</h1>
  </div>
  <div class="row g-2 text-center" id="caixa">
  
  <div class="col-12 col-md-8 col-lg-10 p-4">
  <h3>Recebe FGTS, INSS ? </h3>
  <h4>Veja as opções que ofertamos só para você. Saque aniversário, 100% facilitado e com ajuda humanizada, 
  até adiantamento de parcelas com os menores juros do mercado</h4>
  </div>
  
  
  <div class="p-4 col-12 col-md-8 col-lg-10">
  <h3>Negociar Dívidas </h3>
  <h4>Veja detalhes e as melhores ofertaspara negociar suas dívidas e botar suas finanças no caminho certo</h4></div>
  
  <div class="p-4 col-12 col-md-8 col-lg-10">
  <h3>Meus Limites </h3>
  <h4>Veja seu escore e quais oportunidades estão ao seu alcance  </h4>
  </div>
  
  <div class="p-4 col-12 col-md-8 col-lg-10">    
  <h3>Meu Perfil </h3>
  <h4>Atualize seus dados e fique mais seguro</h4>
  </div>

</div>
</div>
