
.card-body{
    background-color: gray;
    font-size: 16px;
    border:6px solid white;
    border-radius: 10px;
}


h5,.card-body{
     font-weight: 900px;
     color:black;
}

.container2{
    width:85%;
    margin-top:5%;
    margin-left: 10%;
    padding:3%;
}

.btn {
    border-radius: 8px;
    border: 3px solid black;
    background-color:red !important; 
    width: 60%;
    color:white;
    max-height:40%;
}

.btn:hover  {
    transition:ease-in-out 0.5s;
    background-color: red; 
    border-color: red;
}

.btn:active{
  background-color: #6a3434;
  transform: scale(0.95);  
  box-shadow: 0 2px 5px rgba(0,0,0,0.2) inset;
}

.btn i.bi{
  font-size: 100%;
  vertical-align: middle;
  font-size: clamp(20px, 4vw, 28px);
  
}

/*Esse card se refere as funcionalidades*/
.card {
    padding:0%;   
    border:10px solid black;
    border-radius: 20px;
    border-style: outset;
}

img,.card{
    width:60%
}
