
<div class="container">
  <div class="row g-2">
 
  <div class="title">SOBRE SUA IDENTIDADE... </div>
  
  <form class="row g-4 needs-validation" novalidate>
    
<div class="col 12 col-sm-12 col-md-10 col-lg-3  position-relative" >
<label for="validationTooltip04" class="form-label">CPF</label>  
  <div class="input-group ">
  <input type="text" class="form-control" aria-label="input-groupCPF">
</div>
</div>


<div class="col 12 col-sm-12 col-md-10 col-lg-3  position-relative" >
<label for="validationTooltip04" class="form-label">RG</label>  
  <div class="input-group ">
  <input type="text" class="form-control" aria-label="input-groupRG" >
</div>
</div>

   <div class="col 8 col-sm-12 col-md-8 col-lg-6 position-relative">
    <label for="validationTooltip04" class="form-label">Orgão Emissor</label>
    <select class="form-select" id="validationTooltip04" required>
    <option selected disabled value="">Escolha a seguir</option>
    <option>Administrador</option>
<option>SSP (Secretaria de Segurança Pública)</option>
<option>IIC/IGP (Instituto de Identificação/Instituto Geral de Perícias)</option>
<option>RFB (Receita Federal do Brasil)</option>
<option>DPF (Departamento de Polícia Federal)</option>
<option>DETRAN (Departamento de Trânsito)</option>
<option>Cartório de Registro Civil</option>
<option>OAB (Ordem dos Advogados do Brasil)</option>
<option>CRM (Conselho Regional de Medicina)</option>
<option>CREA (Conselho Regional de Engenharia e Agronomia)</option>
<option>COREN (Conselho Regional de Enfermagem)</option>
<option>CRC (Conselho Regional de Contabilidade)</option>
<option>CRECI (Conselho Regional de Corretores de Imóveis)</option>
<option>MTE/Ministério do Trabalho e Emprego</option>
<option>INSS (Instituto Nacional do Seguro Social)</option>
<option>TSE/TRE (Tribunal Superior Eleitoral/Tribunal Regional Eleitoral)</option>
 
  </select>
    <div class="invalid-tooltip">
      Please select a valid state.
    </div>
  </div>

  <div class="col 12 col-sm-12 col-md-8 col-lg-5 position-relative">
    <label for="inputGroupFile0" class="form-label">Documento de Identidade (Frente)</label>  
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile0" >
</div>
</div>

  <div class="column 12 col-sm-12 col-md-8 col-lg-5 position-relative">
    <label for="inputGroupFile02" class="form-label">Documento de Identidade (Verso)</label>  
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02" >
</div>
</div>
</form>