
.container4{
    background-color:gray;
    border-top:3px solid rgb(0, 0, 0) ;
    width: 100%;
    margin-top:8%;
    text-align: center;
    font-weight:bold;
      
    font-size: clamp(10px, 3.5vw, 17px);
    height:190px;
    padding:2%;

}

p{
  margin-top: 0.7%;
  margin-bottom: 12.5px;
}