
.navbar{
    background-color: rgb(0, 0, 0);  
}

#cont_t{
    display:flex;
    flex-direction: row;
}

#btn_op{
    background-color:white;
    min-width: 6.5%;
    height:auto;
    border: 2px solid red;
    border-radius: 10px;
    margin-right: 6%;
}

#btn_op:hover{
    transition: ease-in-out 0.6s;
    background-color:red;
    border: 2px solid white;
}


img,a{
    min-width: 43%;
    height:auto;
}

.offcanvas-header,.offcanvas-body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    background-color: rgb(175, 175, 175);
}


.offcanvas-body{
    height: 100%;
}

#meuOffcanvas{
    transition: ease-in-out 0.7s;
    height: 100%;
    min-width: 35%;
    background-color: rgb(175, 175, 175);

   font-size: clamp(12px, 2.5vw, 16px);
   text-align: center;
   white-space: normal;
   line-height: 1.2;
    
}   

.offcanvas-title{
    min-width: 75%;
    text-align:center;
    font-size:50px;
    font-weight: bold;
    border:3px solid black;
    background-color: white;
    border-radius: 60px;
    border-width: 100%;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);

    font-size: clamp(17px, 10.5vw, 40px);
    text-align: center;
    white-space: normal;
    line-height: 1.2;

}

.lista1{
    list-style:none;     
}

.lista1 li{
    position:relative;
    padding:28px;
    display: block;      
    cursor: pointer;
}


.lista1 li::before{
  content: "";
  position: absolute;
  left: -60px;
  top: 1.1em;
  width: 80%;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;   
  background-image:url("/B.png");
  border-radius: 50px;
}


.lista1 li{
    font-size:15px;
    font-weight: bold;
    margin-top:5%;
    margin-left:5%;
}

.lista1 li:hover{
    background-color: white;
    border-radius: 60px;
    transition:ease-in-out 0.1s;
    border:2px solid black;  

    font-size: clamp(11px, 2.5vw, 16px);
    text-align: center;
    white-space: normal;
    line-height: 1.2;
    
}