*{
    margin: 0;
    box-sizing: border-box;

}

body{
background-color: rgb(208, 6, 6);
}

.navbar{
    padding:0%;
}

#cont_t{
    display:flex;
    flex-direction: row;
    background-color: rgb(21, 21, 21);
  
}


#btn_op{
    margin-right: 6%;
    background-color:white;
    width: 10%;
    border: 2px solid red;
}

img,a{
    width: 40%;
}

.offcanvas-header,.offcanvas-body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}


.offcanvas-body{
    height: 100%;
}


#meuOffcanvas{
    transition: ease-in-out 0.7s;
    height: 100%;
    width: 35%;
    background-color: rgb(164, 163, 163);
}   

.offcanvas-title{
    width: 75%;
    text-align:center;
    font-size:50px;
    font-weight: bold;
    border:3px solid black;
    background-color: white;
    border-radius: 60px;
    border-width: 100%;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);

}

.lista1{
    list-style:none;     
}

.lista1 li{
    position:relative;
    padding:28px;
    display: block;      
    cursor: pointer;
}


.lista1 li::before{
  content: "";
  position: absolute;
  left: -60px;
  top: 1.1em;
  width: 80%;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;   
  background-image: url("Recursos/B.png");
  border-radius: 50px;
}


.lista1 li{
    font-size:15px;
    font-weight: bold;
    margin-top:5%;
    margin-left:5%;
}

.lista1 li:hover{
    background-color: white;
    border-radius: 60px;
    transition:ease-in-out 0.1s;
    border:2px solid black  
}


/* Corpo  */

#carouselAutoplaying .carousel-item{
  width: 80%;
  height:200px;   
  margin-top: 2%;
  margin-left: 12.5%;
  overflow: hidden;
}

#carouselAutoplaying .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.container{
    margin-top:5%;
    margin-bottom:10%;
    
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;


    width:50%;
    height:400px;
    background-color:rgb(152, 22, 35);

    justify-content: space-around ;
    align-items:center;


    border:10px solid black;
    border-radius:40px;
    border-style: inset;   
    
}

.d-grid .btn{
    margin-top:10%;
    background-color:black;
    border-radius:40px;
    border:3px solid red;
    font-weight: 800;
    color: red;
}

.d-grid .btn:hover{
    transition:ease-in-out 0.4s;
    color:black;
    background-color:red ;
    border:3px solid black;  
    max-width: 100%;
   
}

.title{
   
    font-weight: 900;
    font-size: 200%;
    border-radius: 30px;
    border:5px solid black;
    border-top: 0px;
    text-align: center;
    background-color:rgb(230, 100, 100) ;
    max-width:100%;

    font-size: clamp(2px, 2.5vw, 200px);

}

.form-control, input[type="text"]{
    display: flex;
    flex-wrap: nowrap;
    border:2px solid black;

}



.container4{
    background-color:gray;
    border-top:3px solid red ;
    
    width: 100%;
    
    text-align: center;
    font-weight:bold;

    font-size: clamp(5px, 2.5vw, 15px);

}



