.container{
    display: flex;
    flex-wrap: nowrap;
}


.title{
    margin-top: 5%;
    
    width: 40%;
    height: 12%;
    
    font-weight: 600;
    font-size:clamp(20px, 2.5vw,40px);

    border:3px solid rgb(255, 246, 246);
    background-color: rgb(0, 0, 0);
    border-radius: 8px;

    text-align: start;
    justify-items: center;
    padding-top: 1.5%;   /* ajuste fino aqui */
    padding-left: 8px;
    
    color:white
}

.form-control,.input-group-text,.form-select{
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid black;
}



.data{
    border-radius:10px;
    border:3px solid black;
    width:30%;
    height:40px;
}

button[type="submit"]{
    border:3px solid black;
    background-color: red !important;
    font-size: bold;
    margin-left: 95%;
}


button[type="submit"]:hover{
    transition: ease-in-out 0.7s;
    border:3px solid white;
    color:white;

}

label{
    font-weight: 700;
    font-family: Arial;
}

