<div class="container">
  <div class="row g-2">
 
  <div class="title">Sobre Você... </div>
  
  <form class="row g-3 needs-validation" novalidate>
    <div class="col 12 col-sm-6 col-md-6 col-lg-6 position-relative">
    <label for="validationTooltip01" class="form-label">Nome </label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Ex:Marcos" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

  <div class="col 12 col-sm-6 col-md-6 col-lg-6 position-relative">
    <label for="validationTooltip02" class="form-label">Sobrenome </label>
    <input type="text" class="form-control" id="validationTooltip02" placeholder="Ex:Aurélio Correa Machado" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

   
   <div class="col 8 col-sm-4 col-md-4 col-lg-2 position-relative">
    <label for="validationTooltip04" class="form-label">Sexo</label>
    <select class="form-select" id="validationTooltip04" required>
      <option selected disabled value="">Escolha a seguir</option>
      <option>Masculino</option>
      <option>Feminino</option>
      <option>Indefinido</option>
    
    </select>
    <div class="invalid-tooltip">
      Please select a valid state.
    </div>
  </div>

   <div class="col 8 col-sm-4 col-md-4 col-lg-2 position-relative">
    <label for="validationTooltip04" class="form-label">Etnia</label>
    <select class="form-select" id="validationTooltip04" required>
      <option selected disabled >Escolha a seguir</option>
      <option>Preta</option>
      <option>Parda</option>
      <option>Branca</option>
      <option>Indígena</option>
      <option>Amarela</option>
      
    </select>
    <div class="invalid-tooltip">
      Please select a valid state.
    </div>
  </div>

   <div class="col 8 col-sm-4 col-md-4 col-lg-3 position-relative">
    <label for="validationTooltip04" class="form-label">Estado Civíl</label>
    <select class="form-select" id="validationTooltip04" required>
      <option selected disabled >Escolha a seguir</option>
      <option>Casado (a)</option>
      <option>Solteiro (a)</option>
      <option>Viúvo (a)</option>
      <option>Em união Estável</option>
      <option>Separado(a) Judicialmente</option>
      <option>Divorciado (a)</option>
      
    </select>
    <div class="invalid-tooltip">
      Please select a valid state.
    </div>
  </div>
    
  <div class="col 8 col-sm-8 col-md-6 col-lg-4 position-relative" style="margin-left:2%">
   <fieldset>
    <label for="birthday" style="margin-bottom:2.5%" >Data de Nascimento</label><br>
    <input class="data" type="number" name="dia" placeholder="DD" min="1" max="31" required>
    <input class="data" type="number" name="mes" placeholder="MM" min="1" max="12" required>
    <input class="data" type="number" name="ano" placeholder="AAAA" min="1900" max="2026" required>
</fieldset>
<div class="valid-tooltip">
      Looks good!
    </div>
  </div>


<div class="col 12 col-sm-8 col-md-10 col-lg-8 position-relative">
  <label for="validationTooltip04" class="form-label">E-mail</label>
 <div class="input-group mb-2">
  <input type="text" class="form-control" aria-label="Recipient’s username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2" style="color:black;font-weight:700">@gmail.com</span>
</div>
  </div>


  <div class="col 12 col-sm-8 col-md-10 col-lg-8 position-relative">
    <label for="validationTooltip02" class="form-label">Nome Completo da Mãe </label>
    <input type="text" class="form-control" id="validationTooltip02"  required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>
</form>