<div class="container2 my-4" >

<div class="col-12 col-sm-8 col-md-10 col-lg-12">
<div class="row g-4" style="gap:5%" >

<div class="card text-center mb-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">TRANSFERIR</h5>
    <p class="card-text">Pix, TED , Pagamento de Boletos e muito mais </p>
    <a href="#" class="btn" style="margin-top:10%" ><i class="bi bi-wallet fs-2" ></i></a>
  </div>
</div>

<div class="card text-center mb-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">EMPRÉSTIMOS</h5>
    <p class="card-text">Análise de Renda, Contratos e Opções com parcelas que cabem no seu Bolso</p>
    <a href="#" class="btn" >
      <img [src]="IMgA" alt="Mão trocando Dinheiro"  style="width:40%">
    </a>
  </div>
</div>


<div class="card text-center mb-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">FINANCIAMENTOS</h5>
    <p class="card-text">Residencial, Imobiliario e tudo aquilo que seus sonhos podem alcançar</p>
    <a href="#" class="btn" ><i class="bi bi-house-check-fill fs-2"  ></i></a>
  </div>
</div>

</div>
</div>


<div class="col-12 col-sm-8 col-md-10 col-lg-12">
<div class="row g-4" style="gap:10%;padding:5% 2% 5% 15.5%;" >

  <div class="card text-center mb-3 " style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">BENEFÍCIOS</h5>
    <p class="card-text">Bolsa Família, Auxílios Estaduais e Municipais. Com a Bank'oo , sua vida fica mais fácil</p>
    <a href="#" class="btn" ><img [src]="IMgB" alt="Receba"></a>
  </div>
  </div>

  <div class="card text-center mb-3 " style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">CARTÕES DE DÉBITO/CRÉDITO</h5>
    <p class="card-text">Faturas , limites , Renegociação de Dívidas e Autenticação por dois fatores </p>
    <a href="#" class="btn"><i class="bi bi-credit-card-fill fs-2"></i></a>
  </div>
  </div>

</div>
</div>

</div>